*{
  font-family: fantasy;
}

body{
  margin: 0;
}

nav{
  background-color:rgb(13, 137, 190);
  height: auto;
}

nav ul{
  margin: 0;
  text-align: right;
}

a li{
  list-style: none;
  display: inline-block;
  padding: 10px 0;
  width: 150px;
  text-align: center;
  color: rgb(235, 235, 235);
}

a li:hover{
  background-color:rgb(9, 167, 209);
  transition: 0.3s;
}
a{

}
